/*
* 
* @author Jamilton Damasceno
* @version 0.1
*/

/* ========================= layout ======================== */
html {
	scroll-behavior: smooth;
  }

.fonte {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Italic.ttf');

    font-weight: 200;
    font-style: italic;
}

body {
	background-color: #22252c;
	background-attachment: fixed;
	background-size: cover;
	font-family: Helvetica,Arial,sans-serif;
}

header {
	width: 100%;
	height: 80px;
	background-color: #373737;
	box-shadow: 0px 3px 10px #c0b283;
	padding: 10px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

.menu {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.menu li a {
	color: white;
	display: block;
	text-decoration: none;
	margin-left: 10px;
	padding: 10px 10px 10px 10px;
	border-radius: 10px;
}

.menu li a:hover {
	color: #e14658;
}

ul {
	padding: 0px;
	margin: 0px;
}

/* -- Barra de navegação -- */
.img-logo {
	height: 55px;
	width: 100px;
	display: block;
	background: url('../img/logo\ r2\ amarelo.png') no-repeat;
	background-size: contain;
	color: transparent;
	margin: 0px;
	padding: 0px;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

.div {
	padding: 10px 10px 50px 10px;	
}

.div2 {
	margin-top: 50px;
	margin-bottom: 50px;
}

.div3 {
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: #c0b283;
	border-radius: 100px;

}


.divisor {
	background: #c0b283;
	padding: 40px 10px 50px 10px;
}

.space {
	margin-top: 100px;
	margin-bottom: 100px;
}

.capa {
	display: table;
	width: 100%;
}

.texto-capa {
	text-align: center;
	color: white;
	display: table-cell;
	vertical-align: middle;
}

img {
	width: 100%;
	margin-top: 10px;
	padding: 10px 10px 20px 10px;
}

h1 {
	font-size: 80px;
	font-weight: 900;
	letter-spacing: -0.05em;
	margin-bottom: 50px;
	text-align: center;
	color: #f4f4f4;
}

span h1 {
	font-size: 80px;
	font-weight: 900;
	letter-spacing: -0.05em;
	margin-bottom: 50px;
	text-align: center;
	color: #373737;
}

h2 {
	font-size: 45px;
	font-weight: 700;
	letter-spacing: -0.04em;
	text-align: center;
	color: #f4f4f4;
	
}

span h2 {
	font-size: 45px;
	font-weight: 700;
	letter-spacing: -0.04em;
	text-align: center;
	color: #373737;
	
}

h3 {
	font-size: 35px;
	font-weight: 700;
	letter-spacing: -0.04em;
	text-align: center;
	color: #f4f4f4;
}

span h3 {
	font-size: 35px;
	font-weight: 700;
	letter-spacing: -0.04em;
	text-align: center;
	color: #f4f4f4;
}

h4 {
	text-align: center;
	color: #373737;
}

ul {
	padding: 0px;
	margin: 0px;
}

a {
	color: #e14658;
}

footer {
	background: #373737;
	padding: 30px 0px 20px 50px;
	position: relative;
	color: rgb(255, 255, 255);
}

p {
	font-size: 19px;
	color: #f4f4f4;
}

span p {
	font-size: 15px;
	color: #373737;
}

li {
	font-size: 15px;
	color: #f4f4f4;
}

span li {
	font-size: 15px;
	color: #373737;
}


/* -- Botoes -- */
.btn-custom {
	color: rgb(0, 0, 0);
	border-radius: 500px;
	-webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    padding: 10px 35px;
    margin: 0px 15px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
}

.btn-roxo {
	background: #f4f4f4;
}
.btn-roxo:hover {
	background-color: #838383;
	color: #f4f4f4;
}


