/*
* 
* @author Jamilton Damasceno
* @version 0.1
*/

/* ========================= layout ======================== */
html {
	scroll-behavior: smooth;
  }

html, body, .capa {
	height: 100%;
}

body {
	background-color: black;
	background-attachment: fixed;
	background-size: cover;
	font-family: Helvetica,Arial,sans-serif;
}

/* -- Barra de navegação -- */
.img-logo {
	height: 55px;
	width: 100px;
	display: block;
	background: url('../img/logo\ r2\ amarelo.png') no-repeat;
	background-size: contain;
	color: transparent;
}

nav.navbar-transparente {
	padding: 15px 0px;
	background: rgba(0, 0, 0, 0.6);
	border: none;
}

.navbar-brand{
	padding: 0px 0px;	
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}

.navbar-inverse .navbar-nav>li>a:hover {
	color: #0aac18;
}

/* -- Imagem de capa -- */
.capa {
	display: table;
	width: 100%;
}

.bg {
	background: rgba(255, 255, 255, 0.5);
	padding: 10px 0px 20px 0px;
}

.bg h2, .bg h4 {
	color: #fff700;
}

.container h2 {
	color: #fff700;
}

.container h3 {
	color: #fff700;
}

.container h4 {
	color: #fff700;
}

.texto-capa {
	text-align: center;
	color: white;
	display: table-cell;
	vertical-align: middle;
}

/* -- Botoes -- */
.btn-custom {
	color: rgb(0, 0, 0);
	border-radius: 500px;
	-webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    padding: 10px 35px;
    margin: 0px 15px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
}

.btn-roxo {
	background: #0aac18;
}
.btn-roxo:hover {
	background-color: #0dfa21;
	color: rgb(0, 0, 0);
}

.btn-branco {
	border: 2px solid white;
}
.btn-branco:hover {
	background-color: white;
	color: black;
}

/* -- seção serviço -- */
#cont {
	background: rgba(255, 255, 255, 0.6);
	padding-top: 20px;
	padding-bottom: 20px;
}

#cont2 {
	padding-top: 20px;
	padding-bottom: 20px;
}

.albuns {
	padding: 20px 0px 20px 0px;
}

.imagem {
	height: 100%;
}

/* ========================= Tipografia ======================== */
h1 {
	font-size: 80px;
	font-weight: 900;
	letter-spacing: -0.05em;
	margin-bottom: 50px;
}

h2 {
	font-size: 50px;
	font-weight: 700;
	letter-spacing: -0.04em;
}

h3 {
	font-size: 35px;
	font-weight: 700;
	letter-spacing: -0.04em;
}

a {
	color: #fff700;
}

#cont h2 {
	color: #fff700;
}

#cont h3 {
	color: #fff700;
}

#cont p {
	color: rgb(0, 0, 0);
}

#cont2 h2 {
	color: #fff700;
}

#cont2 h3 {
	color: #fff700;
}

#cont2 p {
	color: rgb(255, 255, 255);
}

footer {
	background: #000;
	padding: 30px 0px 20px 50px;
	position: relative;
	color: rgb(255, 255, 255);
}

/* css do slide de imagens */

      * {
        margin: 0px;
        padding: 0px;
      }

      .galeria {
        margin: 100px auto;

        position: relative;
        overflow: hidden;
      }

      .foto {
        position: absolute;
        opacity: 0;
        animation: animacao;
        animation-duration: 20s;
        animation-iteration-count: infinite;
      }

      @keyframes animacao{
        25% {
          opacity: 1;
          transform:scale(1.1,1.1);
        }

        50% {
          opacity: 0;
        }
      }

      .foto:nth-child(1){
        animation-delay: 0;
      }
      .foto:nth-child(2){
        animation-delay: 5s;
      }
      .foto:nth-child(3){
        animation-delay: 10s;
      }
      .foto:nth-child(4){
        animation-delay: 15s;
      }
      .foto:nth-child(5){
        animation-delay: 20s;
      }
      .foto:nth-child(6){
        animation-delay: 25s;
      }

      .container img {
        max-width:500px;
        max-height:500px;
        width: auto;
        height: auto;
      }